#
# Python packages used in development
#

invoke>=0.13

# Dependencies used directly by automation tasks
pathlib
semver
glob2
jinja2
git+https://github.com/Xion/taipan.git#egg=taipan

# Documentation generation
mkdocs
mkdocs-material
